<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Slabo+27px" rel="stylesheet">
:root {
	font-family: 'Slabo 27px', serif;	}
body{
	max-width: 1200px;
	margin:auto;

}
h3 {
	color: #20B2AA;
	font-weight: bold;
	font-size: 2.5rem;
	
	text-align: center;
	
}
header  #logo  img{
	width:14%;
/*	display: flex;*/
}

header  #logo a{
	text-decoration: none;
	color: blue;
	font-weight: bold;
	font-size: 3.5rem;
	font-family: 'Playfair Display', serif; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center ;
		}
header nav {
	background-color: #F5F5F5;
		width: 100%;
}

 header nav ul li a{
	text-decoration: none;
	color: #20B2AA;
	font-weight: bold;
	font-size: 2em;
	border-radius: 10px;
text-align: center;
}
 nav a:hover {
	color: white !important;
	background: darkgrey;
	transition: 2s;

	
}
@media (min-width: 750px){
	header nav {
		display: flex;
	}
	header nav ul {
		display: flex;
		flex:1;
align-items: center;

	justify-content: center;

	
	}
	
}

#carousel img{
	width: 100%;
	height: 357px;
}
#info{
	font-size: 1.5em;
	background-color: #FFF5EE;
}

#info  img{
	max-width: 100%;
	
}
@media (min-width: 750px){
	#info div img{
	width: 60%;
	align:left;
	
}
	
}
.message{
	display: none;
}
#info .btn_res {
	display: none;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:10%;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
}

#news .news-item div{
	font-size: 1.2em;
	padding: 2%;
	/*border: 0.5px solid grey;*/
	display: flex;
	flex-wrap: wrap;
	
	align-items: center;
  
}
#news .news-item div p {
max-width: 70%;

}

#news .news-item div img {

	width: 60px;
	height: 60px;
	
}

@media (min-width: 400px) {
	#news .news-item{
		display: grid;
		grid-template-columns: 1fr 1fr;
		/*border: 0.5px solid grey;*/
	}
	
	

}
@media  (min-width: 750px) {
	#news .news-item {
		grid-template-columns: 1fr 1fr 1fr;
		border: 0.5px solid grey;
	}


}




.homepage-hero-module form {
display: flex;
flex-direction: column;
align-items: center;
z-index: 5;

    position: absolute;
    bottom: 0%;
    top: 20%;
    left: 0%;
    /*height: 100%;*/
    width: 100%;
    overflow: hidden;
    opacity: 0.7;
    color: white;
    font-weight: bold;
}
.homepage-hero-module form textarea {
	    box-sizing: border-box;
    max-width: 60%;
}
footer {
	background-color: grey;
	font-weight: bold;
	}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 5.5%; 
    z-index: 10; 
    border: none;
    outline: none; 
    background-color: lightblue; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    opacity: 0.5;
}

#myBtn:hover {
    background-color: #555; 
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* background video*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
   /* background: #000;*/
   opacity: 0.9;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 9;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: -1;
    bottom: 0;

  }

  .video-container video.fillWidth {
    width: 100%;
  }
  .poster.hidden {
 visibility: hidden;
}

@media only screen and (max-width:768px) {
 .poster.hidden {
  visibility: visible !important;
 }
}﻿